<a href="https://colab.research.google.com/github/asmamasood/python_concept/blob/main/Loops_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# For loop example
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
# While loop example
count = 0
while count < 3:
    print("Count is:", count)
    count += 1

In [ ]:
# Break statement
for num in range(10):
    if num == 5:
        break
    print(num)

In [ ]:
# Continue statement
for num in range(5):
    if num == 2:
        continue
    print("Number:", num)

In [ ]:
# Nested Loop Example: Multiplication Table from 1 to 3

for i in range(1, 4):  # Outer loop for numbers 1 to 3
    print(f"Multiplication table of {i}:")
    for j in range(1, 6):  # Inner loop for 1 to 5
        print(f"{i} x {j} = {i * j}")
    print()  # Empty line between tables